.ui-left {
    position: absolute;
    left: 10px;
    top: 10px;
}
.ui-right {
    position: absolute;
    right:10px;
    bottom: 10px;
}
.season-display.winter i {
    color: blue;
}
.season-display.summer i {
    color: red;
}
.winter  {
    background-color: deepskyblue;
}
.summer {
    background-color: orange;
}
.season-display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}